/* Importation de la police d'écriture */
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

/* Corps de la page */
body {
  font-family: "Electrolize";
  font-weight: 400;
  font-style: normal;
}

/* L'entête de la page */
header {
  background-color: #111d4a;
}

/* Couleur du menu burger */
.couleur-burger-menu {
  background-color: #45f0df;
}

/* Pour les items du menu de navigation */
li {
  list-style: none;
}

/* Design des liens de navigation */
a, a:visited {
  color: #45f0df;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85rem;
}

/* Quand on passe la souris sur les liens */
a:hover {
  color: #2d968c;
}

/* Barre de navigation responsive */
nav {
  background-color: #111d4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  /* Pour adapter le texte a tout type d'ecran */
  font-size: calc(0.5rem + 1.5vw);
  color: white;
}

/* Taille du container des liens de navigation */
nav ul {
  display: flex;
  justify-content: start;
  width: 100%;
}

/* Taille du logo du site internet */
.taille-img {
  width: 75%;
  height: auto;
}

.btn-page {
  font-size: large;
  border: 8px solid #2d968c;
  background-color: #4d5deb;
  color: white;
  width: 15rem;
}

.btn-page:hover {
  font-size: large;
  border: 8px solid #2d968c;
  background-color: #7682e7;
  color: white;
  width: 15rem;
}

.btn-modify {
  font-size: large;
  border: 8px solid #2d968c;
  background-color: #4d5deb;
  color: white;
  width: auto;
}

.btn-modify:hover {
  font-size: large;
  border: 8px solid #2d968c;
  background-color: #7682e7;
  color: white;
  width: auto;
}

.btn-details {
  font-size: large;
  border: 8px solid #2d968c;
  background-color: #4d5deb;
  color: white;
  width: auto;
}

.btn-details:hover {
  font-size: large;
  border: 8px solid #2d968c;
  background-color: #7682e7;
  color: white;
  width: auto;
}

.btn-favoris {
  font-size: large;
  border: 8px solid #2d968c;
  background-color: #4d5deb;
  color: white;
  width: auto;
}

.btn-favoris:hover {
  font-size: large;
  border: 8px solid #2d968c;
  background-color: #7682e7;
  color: white;
  width: auto;
}

.btn-supprime-annonce {
  font-size: large;
  border: 8px solid #2d968c;
  background-color: #eb4d4d;
  color: white;
  width: auto;
}

.btn-supprime-annonce:hover {
  font-size: large;
  border: 8px solid #2d968c;
  background-color: #f38484;
  color: white;
  width: auto;
}

.taille-nom-article {
  height: 8rem;
}

.container {
  display: grid;
  width: 100%;

  /* On fait un repeat(auto-fit, minmax(...)) pour un wrapping fluide */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
}

.container-details {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.div-article {
  margin: 2rem;
  border-radius: 16px;
  background-color: #45f0df;
}

.div-input {
  border-radius: 16px;
  background-color: #45f0df;
}

.bg-article {
  height: 100%;
  background-color: #111d4a;
  color: white;
}

footer {
  background-color: #111d4a;
  color: white;
}

.background-color-footer {
  background-color: #111d4a;
  color: white;
}