/* Importation de la police d'écriture */
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

body {
  font-family: "Electrolize";
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #111d4a;
}

.couleur-burger-menu {
  background-color: #45f0df;
}

li {
  list-style: none;
}

a, a:visited {
  color: #45f0df;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #2d968c;
}

/* Barre de navigation responsive */
nav {
  background-color: #111d4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  /* Pour adapter le texte a tout type d'ecran */
  font-size: calc(0.5rem + 1.5vw);
  color: white;
}

nav ul {
  display: flex;
  justify-content: start;
  width: 100%;
}

#icons {
  cursor: pointer;
  display: none;
}

.liens-design {
  width: 12rem;
  height: 6rem;
  text-decoration: none;
  background-color: #45f0df;
  color: black;
  padding: 2rem;
  border-radius: 8px;
}

.taille-input-connexion {
  width: 30rem;
}

.design-input-connexion {
  border-radius: 8px;
  height: 3rem;
  border-color: 3px solid #4d5deb;
}

.taille-input-create-annonce {
  width: 60rem;
}

.design-input-create-annonce {
  border-radius: 8px;
  height: 3rem;
  border-color: 3px solid #4d5deb;
}

.taille-input-register {
  width: 30rem;
}

.design-input-register {
  border-radius: 8px;
  height: 3rem;
  border-color: 3px solid #4d5deb;
}

.design-input-create-annonce-description {
  border-radius: 8px;
  height: 10rem;
  border-color: 3px solid #4d5deb;
}

.btn-connexion {
  font-size: large;
  border: 3px solid black;
  background-color: #4d5deb;
  color: white;
  width: 15rem;
}

.btn-voir-details {
  font-size: large;
  border: 3px solid black;
  background-color: #4d5deb;
  color: white;
  width: 10rem;
}

.btn-supprime-annonce {
  font-size: large;
  border: 3px solid black;
  background-color: #eb4d4d;
  color: white;
  width: 10rem;
}

.btn-supprime-annonce:hover {
  font-size: large;
  border: 3px solid black;
  background-color: #f38484;
  color: white;
  width: 10rem;
}

.btn-voir-details:hover {
  font-size: large;
  border: 3px solid black;
  background-color: #6f8fec;
  color: white;
  width: 10rem;
}

.btn-deconnexion {
  font-size: large;
  border: 3px solid black;
  background-color: #4d5deb;
  color: white;
  width: 30rem;
}

.btn-deconnexion:hover {
  font-size: large;
  border: 3px solid black;
  background-color: #6f8fec;
  color: white;
  width: 30rem;
}

.btn-retour {
  font-size: large;
  border: 3px solid black;
  background-color: #4d5deb;
  color: white;
  width: 10rem;
}

.btn-retour:hover {
  font-size: large;
  border: 3px solid black;
  background-color: #6f8fec;
  color: white;
  width: 10rem;
}

.btn-connexion:hover {
  background-color: #6f8fec;
  border: 3px solid black;
  color: white;
}

.liens-design:hover {
  background-color: #2d968c;
}

main {
  height: 100%;
  background-color: #c2cae8;
}

.div-produits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  text-align: start;
  justify-self: center;
}

.div-article {
  margin: 2rem;
  border-radius: 8px;
  background-color: #8380b6;
}

.bg-article {
  height: 100%;
  background-color: #111d4a;
  color: white;
}

.taille-champ-nom-article {
  height: 10%;
}

.taille-champ-form-annonces {
  height: 10%;
}

footer {
  background-color: #111d4a;
  color: white;
}

.background-color-footer {
  background-color: #111d4a;
  color: white;
}